@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    --orange: #EB5D1E;
}

section {
    padding: 4rem 0 2rem 0;
}

.sectionName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C2B7B1;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0rem !important;
}

.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4E4039;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: initial;
}

.sectionTitle::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: .3rem;
    margin-top: 4rem;
    border-radius: .3rem;
    background: var(--orange);
}

.btn{
    background: var(--orange);
    border: none;
    outline: none;
    padding: .6rem 1.5rem;
    color: #fff !important;
    border-radius: .3rem;
}
.btn:hover{
    background: #ee7843;
    letter-spacing: .03rem;
}


.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: var(--orange);
    color: #fff !important;
    width: 45px;
    height: 45px;
    right: 1.5rem;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
  }
  .scrollToTop-btn.active {
    right: 1.5rem;
    opacity: 1;
  }

/* header style section start  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 1000000 !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
}

.header .logo{
    margin-left: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
    color: #7A6960;
}


.header .navbar a{
    margin-right: 3rem;
    color: #7A6960;
    font-size: 1rem;
    font-weight: 600;
}

.header .navbar a.active{
    color: var(--orange);
}
.header .navbar a:hover{
    color: var(--orange);
}

.header .navbar .btn{
    border-radius: 3rem;
    padding: .7rem 1.5rem;
}

.header .menu_bar{
    color: #7A6960;
    font-size: 1.7rem;
    padding: .2rem .2rem;
    cursor: pointer;
    display: none;    
}

/* header style section end  */

/* home style section start  */

.home{
    width: 100%;
    background: #FEF8F5;
    padding: 6rem 0rem;
    position: relative;
    border-bottom: .2rem solid #FCEBE3;
}

.home .home_container{
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
}

.home .home_container .homeText{
    width: 50%;
}

.home .home_container .homeText h1{
   width: 90%;
   font-size: 3rem;
   font-weight: bold;
   padding: 0 0 .7rem 3rem;
   color: #4E4039;
   text-transform: initial;
}

.home .home_container .homeText h2{
   padding: 0 0 4rem 3rem;
   text-transform: initial;
   color: #7A6960;
}

.home .home_container .homeText .btn{
   margin: 0 0 0 3rem;

}

.home .home_container .homeImg{
    width: 50%;
    position: relative;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.home .home_container .homeImg img{
    width: 90% !important;
}

@keyframes up-down{
    0% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
}

.home .home_container .homeImg img{
    width: 100%;
}

/* home style section end  */

/* about style section start  */

.about{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;

}

.about .aboutImg{
    width: 50%;
}

.about .aboutImg img{
    width: 80%;
    padding: 0 0 0 3rem;
}

.about .aboutText{
    width: 50%;
    padding: 0 3rem 0 0;
}

.about .aboutText h2{
    width: 60%;
    text-transform: initial;
    font-size: 2rem;
    color: #4E4039;
    font-weight: bold;
    padding-bottom: .5rem;
}

.about .aboutText p{
    text-transform: initial;
    color: #5A6570;
}

.about .aboutText .cards{
    display: flex;
    justify-content: space-between;
}

.about .cards .aboutCard i{
    color: #F39E7A;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
}

.about .cards .aboutCard h3{
    color: #7A6960;
}

.about .cards .aboutCard p{
    width: 80%;
    padding-top: .7rem;
}

/* about style section end  */


/* services section start  */

.services{
    background: #FEF8F5;
}

.services .servicesCards{
    padding: 3rem 7rem;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1rem;
}

.services .servicesCards .card{
    height: 20rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    text-align: center;
    border-bottom: 3px solid #fff;
    transition: .5s linear;
}

.services .servicesCards .card .cardContent{
    padding: 2rem;
}

.services .servicesCards .card:hover{
    border-bottom: 3px solid var(--orange);
    transition: .5s linear;
}

.services .servicesCards .card i{
    display: block;
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 2.5rem;
    color: var(--orange);
}

.services .servicesCards .card a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.services .servicesCards .card p{
    font-size: 1rem;
    line-height: 28px;
    padding-top: 0.5rem;
}
/* services section end  */

/* portfolio style section start  */

.portfolio .portfolioFilter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolioFilter ul li{
    float: left;
    list-style: none;
    padding: 3rem 1rem 3rem 1rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.portfolio .portfolioFilter ul .active{
    color: var(--orange);
}

.portfolio .portfolioFilter ul li:hover{
    color: var(--orange);
}

.portfolio .portfolioCards{
    padding: 0rem 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1rem;
}

.portfolio .portfolioCards .portcard{
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolioCards .portcard img{
    border-radius: .5rem;
    width: 100%;
    z-index: 2;
    min-height: 100%;
}

.portfolio .portfolioCards .portcard img:hover{
    transform: scale(1.1);
}


/* portfolio style section end  */


/* faq style section start */

.faq{
    background: #fef8f5;
}

.accordionContainer{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 3rem 1rem 7rem;
}

.accordionContainer .accordion{
    padding: .7rem 0;
}

.accordionContainer .accordion button{
    background: transparent;
    border: none;
    outline: none;
    display: block;
    font-size: 1.1rem;
    color: #817f7dfb;
    text-transform: initial;
    font-weight: bold;
    cursor: pointer;
}

.accordionContainer button:hover{
    color: var(--orange);
}

.accordionContainer .accordion .fa-chevron-down{
    font-size: .8rem;
    padding-right: .3rem;
    color: #343A40; 
}

.accordionContainer .accordionText{
    padding: 0rem .5rem 0rem .8rem;
    width: 90%;
    color: #9b9592;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordionContainer .accordionText p{
    font-size: .9rem;
    margin-bottom: .5rem !important;
}


/* faq style section end */


/* team style section start  */
.team{
    background: #fff;
}
.team .teamCard{
    justify-content: center;
    align-items: center;
    padding: 4rem 7rem 3rem 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}

.team .teamCard .card{
    position: relative;
}

.team .teamCard .card img{
    padding: 1rem;
    width: 100%;
}

.team .teamCard .card .teamInfo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1.3rem;
    padding: 1rem;
    opacity: 0;
    background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
}

.team .teamCard .card .teamInfo .teamName{
    position: absolute;
    left: 0rem;
    right: 0;
    bottom: 2rem;
    text-align: center;
    color: white;
}

.team .teamCard .card .teamInfo .teamName h3{
    font-size: 1rem;
}


.team .teamCard .card .teamInfo .teamName p{
    font-style: italic;
    font-size: .8rem;
}


.team .teamCard .card .teamInfo .teamSocial{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(78, 64, 57, 0.6);
    text-align: center;
}

.team .teamCard .card:hover .teamInfo{
    background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .teamCard .card .teamInfo a{
    display: block;
    padding: .5rem 0;
    color: #fff;
    font-size: 1.2rem;
}

.team .teamCard .card .teamInfo a:hover{
    color: var(--orange);
}


/* team style section end  */


/* clients style section start  */

.clients{
    background: #fef8f5;
}

.clients .container{
    padding: 4rem 7rem 4rem 7rem;
}

.clients .container .wrapper{
    display: flex;
}

.clients .container .wrapper .slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.clients .container .wrapper .slide img{
    width: 100%;
}
/* clients style section end  */


/* contact style section start  */

.contact .container{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 7rem 3rem 7rem;
}

.contact .container .address{
    width: 40%;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-top: .2rem solid var(--orange);
    border-bottom: .2rem solid var(--orange);
    border-radius: .2rem;
}

.contact .container .address .addressContent{
    padding: 2rem 2rem 2rem 2rem;

}

.contact .container .address .addressContent h3{
    padding-left: 1rem;
    color: #7a6960;
    font-size: 1.5rem;
}

.contact .container .address .location, .email, .phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;

}

.contact .container .address .addressContent p{
    padding: 0rem 6rem;
    font-size: .9rem;
    color: #ab9d95;
}

.contact .container .address i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: var(--orange);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fdf1ec;
    margin-top: 1rem;
}

.contact .container .address i:hover{
    color: #fff;
    background: var(--orange);
}
.contact .message{
    width: 50%;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-top: .2rem solid var(--orange);
    border-bottom: .2rem solid var(--orange);
    border-radius: .2rem;
}

.contact .container .address .addressContent .map{
   margin-top: 2rem;
   height: 100%;
}
.contact .message form{
    padding: 2rem;
}

.contact .message form label{
    display: block;
    padding: .5rem 0;
}

.contact .message form input{
    padding: .5rem;
    width: 100%;
    border: .1rem solid #9b9592;
    outline: none;
    border-radius: .3rem;
}

.contact .message form input:focus{
    border: .1rem solid var(--orange);
}

.contact .message form textarea{
    width: 100%;
    border: .1rem solid #9b9592;
    outline: none;
    border-radius: .3rem;
    padding: 1rem 1rem;
}

.contact .message form textarea:focus{
    border: .1rem solid var(--orange);
}

.contact .message form a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
/* contact style section end */

/* join style section start  */
.join{
    background: #FEF8F5;
}
.join p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: initial;
}

.join #joinSend{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.join #joinSend input{
    padding: .6rem 1rem;
    width: 31%;
    border: none;
    outline: none;
    margin-right: 0.5rem;
    border-radius: .2rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.join #joinSend input:focus{
    border: .1rem solid var(--orange);
    outline: none;
}

.join #joinSend button{
    font-size: 1rem;
}
.join #joinSend button:hover{
    cursor: pointer;
}
/* join style section end  */

/* footer style section start  */

.contents{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    padding: 0 7rem;
    width: 100%;
}

.contents .content{
    padding: 0 3rem;
}

.contents .content h2{
    font-weight: 500;
    color: #7A6960;
}

.contents .content p{
    width: 100%;
    color: #9b9592;
    font-size: 1rem;
    padding: 1rem 0;
}

.contents .content a span{
    color: #7A6960;
    font-size: 1.1rem;
    padding: 1rem .5rem 1rem 0;
}

.contents .content a{
    color: #9b9592;
    font-size: 1rem;
    display: block;
    padding: .4rem 0;
    text-transform: initial;
}

.contents .content a:hover{
    color: var(--orange);
}

.contents .content a i{
    color: var(--orange);
    font-size: .7rem;
    font-weight: bold;
    padding-right: 0.3rem;
}

.contents .content h4{
    color: #7A6960;
}

.contents .content .social{
    display: flex;
    justify-content: flex-start;
}

.contents .content .social a{
    margin-right: 0.5rem;
}

.contents .content .social a i{
    font-size: 1.2rem;
    color: var(--orange);
    padding-left: 0.2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fdf1ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents .content .social a i:hover{
    background: var(--orange);
    color: #fff;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEF8F5;
    padding: 2rem 7rem;

}

.footer p{
    color: #9b9592;
}

.footer p span{
    color: #000;
}

.footer p a{
    color: var(--orange);
}

/* footer style section end  */







/* media style section start  */

@media (max-width:1050px) {
    .header .navbar a{
        margin-right: 1.3rem;
    }
    .contact .container .address .addressContent{
        padding: .8rem;
    
    }

}


@media (max-width:991px) {
    .header .navbar a{
        display: none;
    }
    
    .header .menu_bar{
        display: block;
        margin-right: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #4E4039;
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0 ,0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100% ,0% 100%);
    }
    .header .navbar a{
        width: 100%;
        display: block;
        padding: .5rem;
        color: #fff;
        background: #5F524B;
        margin: .5rem;
        border-radius: .5rem;
        text-align: center;
    }
    
    .header .navbar .btn{
        background: var(--orange);
    }
    
    .header .navbar .btn:hover{
        background: #ee7843;
    }

    .home .home_container{
        flex-direction: column;
    }
    
    .home .home_container .homeText{
        width: 100%;
        order: 1;
    }

    .home .home_container .homeText h1{
        width: 100%;
        font-size: 2.5rem;
    }

    .home .home_container .homeImg{
        width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        order: -1;
    }
    .home .home_container .homeImg img{
        width: 50% !important;
    }

    .about{
        width: 100%;
        display: block;
    }

    .about .aboutImg{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .aboutImg img{
        width: 55%;
    }

    .about .aboutText{
        width: 100%;
    }
    
    .about .aboutText .aboutTitle{
      flex-direction: column;
      text-align: center;
    }

    .about .aboutText .aboutTitle h2{
        width: 100%;
    }

    .about .aboutText .aboutTitle .aboutInfo{
        padding: 0 2rem;
    }

    .about .aboutText .cards{
        display: flex;
        justify-content: center;
        padding: 0 5rem;
    }
    .about .cards .aboutCard{
        padding: 0 2rem;
    }
    .accordionContainer .accordion button{
        font-size: 1rem;
        text-align: justify;
    }
    .clients .container{
        padding: 4rem 5rem;
    }
    .contact .container .address .addressContent{
        padding: 0;
    }
    .contact .message form{
        padding: 1rem;
    }
    .contact .container{
        display: block;
    }
    .contact .container .address{
        width: 100%;
        padding: 2rem;
    }
    .contact .message{
        width: 100%;
        margin-top: 2rem;
    }

    .contents{
        padding: 0 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,2fr));
    }
    
    .contents .content p{
        font-size: .9rem;
    }
    .contents .content a span{
        font-size: 1rem;
        padding: .6rem .5rem .6rem 0;
    }
}




@media (max-width: 768px) {
    .header .navbar{
        top: 100% !important;
    }
    .home .home_container .homeText h1{
        width: 100%;
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .home .home_container .homeText h2{
        width: 100%;
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }

    .about .cards .aboutCard h3{
        font-size: 1rem;
    }
    .about .cards .aboutCard p{
        width: 100%;
    }

    .team .teamCard{
        padding: 4rem 5rem 3rem 5rem;
    }
    .clients .container{
        padding: 4rem 3rem;
    }
    .join #joinSend input{
        padding: .6rem 1rem;
        width: 50%;
    }
    

}



@media (max-width: 576px) {
   
    .header .navbar{
        top: 100% !important;
        width: 100%;
    }
    .home .home_container{
       padding: 0;
    }

    .home .home_container .homeText h2{
        padding: 1.5rem 2rem;
        font-size: .9rem;
        width: 80%;
    }
    
    .home .home_container .homeText h1{
        padding: 1rem 0 0rem 2rem;
        font-size: 1.2rem;
    }
    .home .home_container .homeText .btn{
        margin: 0 0 0 2rem;
    }

    .sectionName{
        font-size: 1.5rem;
    }
    
    .sectionTitle{
        text-align: center;
        font-size: 1.2rem;
        padding: 0 .5rem;
    }
    
    .sectionTitle::before {
        width: 4rem;
        height: .2rem;
    }
    
    .about .cards .aboutCard{
        padding: 0 2rem;
    }
    .about .aboutImg img{
        width: 80%;
        padding: 0;
    }

    .about .aboutText h2{
        font-size: 1.5rem;
    }
    .about .aboutText p{
        font-size: 1rem;
        width: 100%;
        padding: 0;
    }
    .about .aboutText .cards{
        display: block;
        padding: 1rem;
    }
    .portfolio .portfolioCards{
        padding: .5rem;
    }
    .portfolio .portfolioCards .portcard{
        padding: 0 3rem;
    }
    .accordionContainer{
        padding-left: 4.5rem;
    }
    .team .teamCard{
        padding: 3rem 3.5rem 2rem 3.5rem;
    }
    .clients .container{
        padding: 4rem 1rem;
    }
    .contact .container{
        padding: 5rem 2rem 3rem 2rem;
    }
    .contact .container .address{
        padding: 0;
    }
    .contact .container .address .addressContent h3{
        font-size: 1.1rem;
    }
    .contact .container .address .addressContent p{
        font-size: .7rem;
        width: 100%;
        padding-left: 6;
        padding-right: 0;
    }
    .join p:nth-child(2){
        text-align: center;
        font-size: .9rem;
    }
    .contents{
        padding: 0;
    }
    .contents .content .social a i{
        font-size: .9rem;
        width: 30px;
        height: 30px;
        
    }
    .footer{
        display: block;
        text-align: center;
        padding: 1rem 0;
    }
    .footer p{
        font-size: .8rem;
    }

  
    .scrollToTop-btn.active {
        right: 2.5rem;
    }
}
